################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ANM/.vs
/ANM/ANM.Core.Application.Abstraction/bin/Debug/netstandard2.0
/ANM/ANM.Core.Application.Abstraction/obj
/ANM/ANM.Example.API/bin/Debug/netcoreapp3.1
/ANM/ANM.Example.API/obj
/ANM/ANM.Example.Application/bin/Debug/netstandard2.0
/ANM/ANM.Example.Application/obj
/ANM/ANM.Example.Application.Abstractions/bin/Debug/netcoreapp3.1
/ANM/ANM.Example.Application.Abstractions/obj
/ANM/ANM.Example.Domain/bin/Debug/netstandard2.0
/ANM/ANM.Example.Domain/obj
/ANM/ANM.Example.Repositories/bin/Debug/netcoreapp3.1
/ANM/ANM.Example.Repositories/obj
/ANM/ANM.Example.UnitTest/bin/Debug/netcoreapp3.1
/ANM/ANM.Example.UnitTest/obj
/FluentMediator/FluentMediator/bin/Debug/netstandard2.0
/FluentMediator/FluentMediator/obj
/FluentMediator/FluentMediator.Microsoft.Extensions.DependencyInjection/obj
/FluentMediator/FluentMediator/.vs/FluentMediator/DesignTimeBuild
/FluentMediator/FluentMediator/.vs/FluentMediator/v16/Server/sqlite3
/FluentMediator/FluentMediator/.vs/FluentMediator/v16/.suo
/ANM/ANM.Example.EventPublisher/obj
/ANM/ANM.Example.EventPublisher/bin/Debug/netstandard2.0
/ANM/ANM.Domain.Abstractions/bin/Debug/netstandard2.0
/ANM/ANM.Domain.Abstractions/obj
/ANM/ANM.Example.Application.Abstractions/bin/Debug/netstandard2.0
/ANM/ANM.Core.Domain.Abstractions/bin/Debug/netstandard2.0
/ANM/ANM.Core.Domain.Abstractions/obj
/ANM/ANM.Example.Infrastructure.EventHandler/bin/Debug/netstandard2.0
/ANM/ANM.Example.Infrastructure.EventHandler/obj
